@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/*
    font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    /*para que generar ancla animadas*/
    scroll-behavior: smooth;
}

:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --marginGrid: 1em;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontSize: 1em;
    --corse: 1100px;
}

.container {
    max-width: var(--corse);
    margin: 0 auto;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: var(--fontSize);
}

/* inicio header */

header .nav-top {
    background-color: var(--colorSecundario);
    padding: 20px 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    text-decoration: none;
}

header .nav-top a i {
    color: var(--colorPrincipal)
}

i {
    font-size: calc(var(--fontSize)*1.4);
}

header .nav-top a span {
    color: white;
    display: none;
}

header .nav-top .fa-phone {
    transform: rotateZ(270deg);
}

header nav {
    padding: 20px 10px;
    background-color: white;
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo {
    width: 90%;
}

header nav .logo img {
    max-width: 100px;
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
    width: 2em;
}

header nav ul {
    width: 100%;
}

header nav .menu {
    text-align: center;
    padding-top: 0.625em;
    /* 10px */
}

header nav .menu li a {
    display: block;
    padding: 1.25em;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    color: #aaa;
}

header nav .menu li a:hover, header nav .menu li .activo {
    color: var(--colorPrincipal)
}

/* final header */

/* inicio footer */

footer {
    position: fixed;
    width: 100%;
    background-color: var(--colorSecundario);
    bottom: 0;
    color: white;
    padding: 1em 0.625em;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorPrincipal);
}

.arriba {
    position: fixed;
    bottom: 50px;
    right: 5px;
    font-size: 1.5em;
}

.arriba a {
    color: var(--colorPrincipal)
}

/* fin footer */

/* media queries 768px */

@media(min-width: 48em) {

    header .nav-top a span {
        display: inline;
    }

    header .nav-top .container {
        justify-content: space-between;
    }

    footer {
        text-align: left;
    }

}

/* media queries 1004px */

@media(min-width: 62.750em) {

    header nav .hamburguesa {
        display: none;
    }

    header nav .logo {
        width: 20%;
    }

    header nav ul {
        width: 80%;
    }

    header nav .menu {
        padding-top: 0;
        display: flex;
        justify-content: flex-end;
    }

    header nav .menu li a {
        padding: 0.4em 0em 0.4em 2.5em;
        border: 0;
    }


}